body
{
  font-family: helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.topic1
{
  color:white;
  background-image:url("file:///c:/vanathi/projects/Broadway/resources/images/the-flatiron-building.png");
  background-size:100% 100%;
  background-position: center;
  font-size:18px;
  font-weight:normal;
}
h1
{
  font-size:70px;
}
h2
{
  font-size:32px;
}
h3
{
  font-size: 23px;
}
p{
  font-weight: normal;
}
.newyork
{
  font-size: 23px;
  color:white;
  background-image:url("file:///c:/vanathi/projects/Broadway/resources/images/the-flatiron-building.png");
  background-size: 100% ;
  background-position: center;
}

h4
{
  color:white;
  text-align: left;
  font-size:11px;
  background-color: dimgray;
}

}
.topic2
{
  font-weight: normal;
}
